### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name"])
school_data_complete_df=pd.DataFrame(school_data_complete)
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Cakculate Total number of school
school_data_complete["school_name"].unique()
school_list_df = pd.DataFrame(school_data_complete["school_name"].unique())
total_schools = len(school_list_df)
total_schools

15

In [3]:
Total_Number_of_Students = school_data_complete_df["student_name"].count()
Total_Number_of_Students

39170

In [4]:
Total_budget = school_data["budget"].sum()
Total_budget

24649428

In [5]:
Average_math_score = school_data_complete_df["math_score"].mean()
Average_math_score

78.98537145774827

In [6]:
Average_reading_score = school_data_complete_df["reading_score"].mean()
Average_reading_score

81.87784018381414

In [7]:
Student_passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"]>= 70 , :]
Student_passing_math = Student_passing_math["student_name"].count()
Student_passing_math

29370

In [8]:
Percentage_of_student_pass_math = (Student_passing_math/Total_Number_of_Students)*100
Percentage_of_student_pass_math

74.9808526933878

In [9]:
Student_passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"]>= 70 , :]
Student_passing_reading = Student_passing_reading["student_name"].count()
Student_passing_reading

33610

In [10]:
Percentage_of_student_pass_reading = (Student_passing_reading/Total_Number_of_Students)*100
Percentage_of_student_pass_reading

85.80546336482001

In [11]:
Overall_student_passing = school_data_complete_df.loc[(school_data_complete_df["reading_score"]>= 70) &
                                                      (school_data_complete_df["math_score"]>= 70) , :]
Overall_student_passing=Overall_student_passing["student_name"].count()
Overall_student_passing

25528

In [12]:
Percentage_of_overall_student_passing =(Overall_student_passing/Total_Number_of_Students)*100
Percentage_of_overall_student_passing

65.17232575950983

In [13]:
District_summary = pd.DataFrame({"Total school":[total_schools],
                                "Total students":[Total_Number_of_Students],
                               "Total Budget":[Total_budget],
                               "Average Math score":[Average_math_score],
                               "Average Reading score":[Average_reading_score],
                               "Percentage passing math":[Percentage_of_student_pass_math],
                               "Percentage passing Reading":[Percentage_of_student_pass_reading],
                               "Percentage overall Passing":[Percentage_of_overall_student_passing] })

District_summary = District_summary[["Total school","Total students","Total Budget","Average Math score","Average Reading score",
                                  "Percentage passing math","Percentage passing Reading","Percentage overall Passing"]]
#school_summary["Average Math score"] = school_summary["Average Math score"].map("{:,.2f}".format)

District_summary

,Total school,Total students,Total Budget,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [22]:
# School Type
school_types = school_data.set_index(["school_name"])["type"]

# Student Count per School
students_per_school = school_data_complete_df.groupby(["school_name"]).count()["student_name"]

# calculate budget per student
budget_per_school= school_data_complete_df.groupby(["school_name"]).mean()["budget"]
budget_per_student= budget_per_school/students_per_school

#calculate Average Test scores
math_score_per_school= school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
reading_score_per_school= school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [23]:
#calculate percentage of math
students_pass_math= school_data_complete_df[school_data_complete_df["math_score"]>=70]
percentage_math= students_pass_math.groupby(["school_name"]).count()["student_name"]/students_per_school*100

#calculate percentage of reading
students_pass_reading= school_data_complete_df[school_data_complete_df["reading_score"]>=70]
percentage_reading= students_pass_reading.groupby(["school_name"]).count()["student_name"]/students_per_school*100

#calculate percentage of overall
students_pass_overall= school_data_complete_df[(school_data_complete_df["reading_score"]>=70) &
                                               (school_data_complete_df["math_score"]>=70)]
percentage_overall= students_pass_overall.groupby(["school_name"]).count()["student_name"]/students_per_school*100

In [24]:
# school Summary Table
school_summary = pd.DataFrame({"school type":school_types,
                                 "Total Students per school":students_per_school,
                                  "Budget per school":budget_per_school,
                               "Budget per student":budget_per_student,
                               "Average Math score":math_score_per_school,
                               "Average Reading score":reading_score_per_school,
                               "Percentage passing math":percentage_math,
                               "Percentage passing Reading":percentage_reading,
                               "Percentage overall Passing":percentage_overall
    
                            })
school_summary = school_summary[["school type","Total Students per school","Budget per school",
                                 "Average Math score","Average Reading score","Percentage passing math",
                                 "Percentage passing Reading","Percentage overall Passing"]]
school_summary["Average Math score"] = school_summary["Average Math score"].map("{:,.2f}".format)

school_summary

,school type,Total Students per school,Budget per school,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Bailey High School,District,4976,3124928.0,77.05,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,83.06,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,76.71,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,77.10,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,83.35,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,77.29,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,83.80,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,76.63,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,77.07,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,83.84,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,76.84,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,83.36,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,83.42,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,83.27,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,83.68,83.955000,93.333333,96.611111,90.333333

In [29]:
#Top 5 Performing Schools (By % Overall Passing)
Top_performing_school = school_summary.sort_values('Percentage overall Passing',ascending = False).head()
Top_performing_school

,school type,Total Students per school,Budget per school,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Cabrera High School,Charter,1858,1081356.0,83.06,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,83.42,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,83.35,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,83.27,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,83.84,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [30]:
#Bottom 5 Performing Schools (By % Overall Passing)
Bottom_performing_school = school_summary.sort_values('Percentage overall Passing',ascending = True).head()
Bottom_performing_school

,school type,Total Students per school,Budget per school,Average Math score,Average Reading score,Percentage passing math,Percentage passing Reading,Percentage overall Passing
Rodriguez High School,District,3999,2547363.0,76.84,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,76.71,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,76.63,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,77.29,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,77.07,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type